html {
  box-sizing: border-box;
  font-size: 10px;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-family: "Bree Serif", Arial, sans-serif;
  background-color: #18c;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space around items */
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.audio-controls {
  margin-top: 10px; /* Adjust as needed */
  width: 100%; /* Adjust as needed */
  text-align: center;
}



.track-list-container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 20px; /* Space between track list and control button */
}

.track-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.track-list li {
  margin-bottom: 5px;
  cursor: pointer;
}


#audioControl {
  font-size: 2em;
  padding: 0.5em 1em;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

#audioControl:hover {
  background-color: rgba(255, 255, 255, 0.7); /* More opaque on hover */
}

#typewriter {
  margin-top: 1em;
  color: #ffffff;
  font-size: 5em;
}

#backgroundCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Behind the content */
}

.subtitle-container {
  margin-bottom: 7em;
}
.track-name {
  margin-bottom: 10px; /* Space above the play button */
  font-size: 1.5em; /* Adjust font size as needed */
  color: #fff; /* Adjust text color as needed */
  /* Additional styling as needed */
}

.audio-controls button {
  /* Common styles for all buttons */
  margin: 0 5px;
  /* Rest of the styles */
}

#volumeSlider {
  width: 150px; /* Adjust as needed */
  margin-left: 10px;
  vertical-align: middle;
}